assistants.herfluffness.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    handle /hubs/* {
        reverse_proxy mcp-channel-signalr:8080
    }

    handle /api/attachments* {
        reverse_proxy mcp-channel-signalr:8080
    }

    handle /api/agents* {
        reverse_proxy agent:8080
    }

    handle {
        reverse_proxy webui:8080
    }
}

assistants-dashboard.herfluffness.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    handle {
        reverse_proxy observability:8080
    }
}

sexy.herfluffness.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    handle /hubs/* {
        reverse_proxy mcp-channel-signalr:8080
    }

    handle /api/attachments* {
        reverse_proxy mcp-channel-signalr:8080
    }

    handle /api/agents* {
        reverse_proxy agent:8080
    }

    handle {
        reverse_proxy sexytime:8080
    }
}
